body{
    background-image: url("./image (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1,h2,h3,h4,h5,h6{
    color: white;
}
th{
    color: white;
}
td{
    color: white;
}
.form-label{
    color: white;
}
p{
    margin: 0;
    color: gray;
}
.product-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;

}
.summery-head {
    display: flex;
    align-items: center;
    background: #e1e1e1;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-around;
    height: 100px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ffffff21;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #545656;
    color: white !important;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
.over{
    overflow: hidden;
}
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
.summery-head i{
    font-size: 40px;
}