.invoice-img{
    width: 80px;
}
/*td*/
/*{*/
/*    height: 50px;*/
/*    width: 50px;*/
/*}*/

td
{
    text-align: center;
    vertical-align: middle;
}
th{
    text-align: center;
    vertical-align: middle;
}